@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap');


 /* Wiso geht das nicht???? */
 @font-face {
  font-family: 'anuratiregular';
  src: url('assets/fonts/anurati-regular.woff2') format('woff2'),
       url('assets/fonts/anurati-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
 

*,
*::before,
*::after {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  color: #ffffff;
  font-family: "MuseoModerno";
  position: relative;
  flex-direction: column;

}

.chill {
  background-size: cover;
  background-position: center center;
  height: 120vh;
  width: 100%;
  position: fixed;
  z-index: -10;
}
.divi{
/*   box-sizing: border-box;
  border: 1px solid orange; */
  display: flex;  
  flex-direction: column;
  justify-content:center;
 margin: 0 auto;
  width: 500px;
  height:80%;
}
h1 {
  margin: 4px 0;
  font-weight: 100;
  font-size: 40px;
  text-align: center;
  
}
input {
  transition: 0.5s ease-in-out;
  margin: 10px 0;
  font-size: 25px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.11);
  color: white;
  border: none;
  font-family: "MuseoModerno";

}
.btn-group {
  /* box-sizing: border-box;
  border: 1px solid red; */
  display: flex;
  /* background-color: yellow; */
  width: 82%;
  margin: 0 auto;
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  margin: 100px 0; */
/*   border: 3px solid #73AD21; */
}

.btn-group > button {
  width: 100%;
  margin: 5px;
  padding: 10px;
  border: none;
  font-size: 18px;
  transition: 0.5s ease-in-out;
  font-family: "MuseoModerno";
}

button {
  margin: 5px;
  padding: 10px;
  border: none;
  font-size: 18px;
  transition: 0.5s ease-in-out;
  font-family: "MuseoModerno";

}
label {
  font-size: 12px;
}
form {
  height: 30%;
  display: flex;
  flex-direction: column;
  padding: 0px;
  max-width: 400px;
  margin-left: 50px;
/*   margin: 5px auto; */
  color:aqua;
  font-size: 18px;
/*   border: 3px solid #73AD21; */
}
input{
  background-color: rgb(44, 200, 252);
  color: black;
}
label{
  font-size: 20px;
  text-align: center;
}
form button {
  background: rgba(6, 48, 237);
  width: 100%;
  margin: 5px 0;
  color: white;
  border-radius: 15px 15px 50px 50px;
/*   border: 3px solid #73AD21; */
}
.start {
  background: rgb(48, 33, 253);
  color: white;
/*   padding-left: 15px;
 */  border-radius: 50px 0px 0px 15px;
}
.break {
  background: rgb(0,199, 116);
  color: #ffffff;
  border-radius: 50px 0px 0px 15px;
  padding-left: 10px;
}
.reset {
  background: rgb(141, 40, 209);
  color: #ffffff;
  border-radius: 0px;
}
.pause {
  background: #fd115c;
  color: white;
  border-radius: 0px 50px 15px 0px;
  padding-right: 20px;
}
.resume {
  background: rgb(157, 221, 8);
  color: white;
  border-radius: 0px 50px 0px 0px;
  padding-right: 20px;

}
.clock {
/*   margin-top:150px;
  padding-bottom: 50px; */
  display:flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 20%;
  bottom: 55px;
  font-size: 34px;
/*   border: 3px solid #73AD21; */
  
}
.progress-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -20px;

}

.progress-ring__circle {
  transition: 0.5s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: rgb(20, 241, 119);
  animation: pulse 0.99s ease-in-out infinite;
}
footer {
  position: fixed;
  bottom: 4px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.danger {
  stroke: rgb(243, 17, 28);
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: rotate(-90deg) scale(1);
  }
  50% {
    transform: rotate(-90deg) scale(1.05);
  }
  75% {
    transform: rotate(-90deg) scale(0.8);
  }
}



